body{
	width: 1280px;
	margin: auto;
	font-family: "Roboto", "Courier";
	box-sizing: border-box;
	background-color: #000;
}

a{
	text-decoration: none;
}

nav{
	display: flex;
	justify-content: center;
}

.nav-link{
	color: #E95F7A;
	font-size: 18px;
	text-transform: uppercase;
	margin: 35px;
}

header{
	height: 790px;
	background-image: url("../img/top-img.jpg");
}

main{
	text-align: center;
	background-color: #0A0908;
	color: #C8C8C8;
	padding: 55px 100px;
}

h1{
	text-transform: uppercase;
	font-size: 22px;
}

p{
	margin: 18px;
	line-height: 26px;
}

.btn-link{
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	background-color: #E95F7A;
	font-size: 12px;
	padding: 18px 45px;
}

footer{
	text-align: right;
	color: #fff;
}