*{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

nav{
	display: flex;
	justify-content: space-between;
	background-color: #1d2124;
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}

.brand,
.search{
	font-weight: bold;
	font-size: 22px;
}

.logo,
.search{
	display: inline-block;
	background-color: #1a1d20;
	padding: 21px;
}

.nav-list{
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 600;
	align-items: center;
}

.nav-link{
	text-transform: uppercase;
	margin: 15px;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 375px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-bg.jpeg");
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
}

.container{
	max-width: 1170px;
	margin: auto;
}

h1{
	font-size: 27px;
	text-transform: uppercase;
	color: #fff;
	margin: 30px;
}

.sub-btn,
.art-btn{
	display: inline-block;
	width: 170px;
	padding: 20px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
	margin: 10px;
}

.sub-btn{
	background-color: #89ca62;
}

.art-btn{
	background-color: #14b9d5;
}

.posts{
	text-align: center;
	padding: 60px;
	height: 1030px;
	background-color: #f2f2f2;
}

h2{
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
}

.blue{
	color: #18b4cf;
}

.post-container{
	margin: 50px;
	height: 960px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: center;
}

.post{
	width: 370px;
	margin: 15px;
}

.post-text{
	font-size: 18px;
	font-weight: bold;
	padding: 22px;
	background-color: #fff;
	color: #353a3d;
}

.clients{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 590px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/parallax-bg.jpeg");
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}

.clients h2{
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	margin: 55px;
}

.clients h2::after{
	content: "";
	display: block;
	width: 60px;
	border-top: 3px solid #169cb4;
	margin: 55px auto;
}

.client-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 70px;
	justify-items: center;
}

.top-rated{
	text-align: center;
	padding-top: 60px;
}

.top-container{
	display: grid;
	grid-template-columns: repeat(7, auto);
	justify-content: center;
	margin: 50px 0;
}

.news{
	text-align: center;
	padding: 10px 0;
}

.news-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 
		"triple1 triple1 triple1 unary1"
		"double1 double1 double2 double2"
		"double3 double3 double4 double4"
		"unary2 triple2 triple2 triple2";
	text-align: right;
	grid-gap: 35px;
	margin: 50px 0;
}

.news-item{
	display: grid;
	grid-template-rows: auto;
}

.news-item:first-child{
	grid-area: triple1;
	grid-template-columns: 1.5fr 1fr;
}

.news-item:last-child{
	grid-area: triple2;
	grid-template-columns: 1.5fr 1fr;
}

.news-item:nth-child(2){
	grid-area: unary1;
}

.news-item:nth-child(3){
	grid-area: double1;
}

.news-item:nth-child(4){
	grid-area: double2;
}

.news-item:nth-child(5){
	grid-area: double3;
}

.news-item:nth-child(6){
	grid-area: double4;
}

.news-item:nth-child(7){
	grid-area: unary2;
}

.news-img{
	width: 100%;
	height: 100%;
}

.news-text{
	padding: 25px;
	background-color: #f9f7f7;
}

.news-header{
	font-size: 18px;
	font-weight: bold;
	color: #353a3d;
}

.news-desc{
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #5b6469;
	margin-top: 20px;
}

footer{
	background-color: #1d2124;
	color: #fff;
}

footer .container{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;	
	grid-template-rows: 80px;
	align-items: center;
}

#toTop{
	display: none;
	position: fixed;
	right: 20px;
	bottom: 25px;
	padding: 10px;
	background-color: #169cb4;
}

#slideButton{
	display: block;
	margin: auto;
	width: 100px;
	height: 50px;
}