.top-nav{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	background-color: #373c3f;
	color: #fff;
	font-size: 12px;
}

.nav-text{
	padding: 11px 19px;
}

.dropdown{
	padding: 11px;
	background-color: #202529;
	font-size: 14px;
	position: relative;
}

.drop-menu{
	display: none;
	position: absolute;
	background-color: #fff;
	right: 0px;
	top: 36px;
	color: #000;
	width: 180px;
	border: 1px solid #f4f4f4;
	font-family: "Lato", sans-serif;
	font-size: 12px;
}

.drop-item{
	padding: 9px;
	border: 1px solid #f4f4f4;
	background-color: #fafafa;
}

.dropdown .fa-times{
	display: none;
}

.logo{
	display: none;
}

header{
	color: #fff;
	background-image: url("../img/header-fon_1200.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 18px 20px 91px;
	margin-bottom: 4px;
}

.header-text{
	margin-bottom: 8px;
}

.header-link a{
	font-size: 14px;
	color: #a6d6e0;
	text-decoration: none;
}

.link-block{
	display: flex;
	color: #fff;
	text-decoration: none;
	margin-bottom: 2px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	height: 75px;
}

.link{
	flex: 1;
	text-align: center;
	line-height: 75px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}

.chevron{
	background-color: #acd8ad;
	line-height: 75px;
	font-size: 13px;
	padding: 0 31px;
}

.link-block.pizza .link{
	background-image: url("../img/pizza-fon_640.jpg");
}

.link-block.salad .link{
	background-image: url("../img/salads-fon_640.jpg");
}

.link-block.dessert .link{
	background-image: url("../img/desserts-fon_640.jpg");
}

.menu{
	margin-top: 20px;
	margin-bottom: 45px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #3f4043;
}

.menu-header{
	display: inline-block;
	text-align: left;
}

.menu-logo{
	display: none;
}

.menu h2{
	font-size: 20px;
	text-transform: uppercase;
	color: #3f4043;
}

.post-header{
	font-size: 10px;
	color: #cbccce;
	margin: 4px 2px 0; 
}

.menu-section{
	margin-bottom: 30px;
}

.menu-section-content{
	text-align: left;
	margin-bottom: 26px;
}

.menu-section-header{
	background-color: #3f4043;
	color: #acd8ad;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 9px;
	padding: 10px 17px 7px;
	text-align: left;
}

.menu-section-header.light{
	background-color: #acd8ad;
	color: #fff;
}

.menu-category-header{
	font-size: 15px;
	text-transform: uppercase;
	color: #3f4043;
	padding: 17px;

}

.menu-category-header::after{
	content: "";
	width: 25px;
	height: 25px;
	display: block;
	float: right;
	position: relative;
	bottom: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.menu-category-header.pizza::after{
	background-image: url("../img/pizza-icon.png");
}

.menu-category-header.wine::after{
	background-image: url("../img/wine-icon.png");
}

.menu-category-header.hot-drinks::after{
	width: 30px;
	height: 30px;
	background-image: url("../img/hot-drink-icon.png");
}

.menu-category-header.cold-drinks::after{
	width: 22px;
	height: 22px;
	bottom: 6px;
	background-image: url("../img/cold-drink-icon.png");
}

.menu-item{
	padding: 5px 17px;
}

.item-title{
	font-size: 13.5px;
	display: flex;
	justify-content: space-between;
}

.item-price{
	font-weight: bold;
}

.item-desc{
	font-size: 8.8px;
	margin-top: 6px;
	text-align: justify;
	line-height: 10.9px;
}

footer{
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	color: #fff;
	background-color: #acd8ad;
	margin-top: 43px;
	padding: 10px;
	line-height: 18px;
}

@media screen and (max-width: 980px) {
	.drop-item:hover{
		background-color: #f5f5f5;
	}

	.dropdown:hover .drop-menu{
		display: inline-block;
	}

	.dropdown:hover .fa-bars{
		display: none;	
	}

	.dropdown:hover .fa-times{
		display: inline-block;
	}
}

@media screen and (min-width: 640px) {
	.top-nav{
		font-size: 24px;
	}

	.nav-text{
		padding: 23px 35px;
	}

	.dropdown{
		font-size: 28px;
		padding: 23px;
	}

	.drop-menu{
		top: 50px;
		width: 240px;
	}

	.drop-item{
		padding: 15px 25px;
	}

	header{
		font-size: 36px;
		padding: 25px 40px 198px;
	}

	.header-link a{
		font-size: 24px;
	}

	.link-block{
		font-size: 36px;
		height: 150px;
	}

	.link{
		line-height: 150px;
	}

	.chevron{
		line-height: 150px;
		font-size: 24px;
		padding: 0 60px;
	}

	.menu{
		margin-top: 40px;
	}

	.menu h2{
		font-size: 40px;
	}

	.post-header{
		font-size: 20px;
	}
	
	.menu-section-header{
		font-size: 40px;
		padding: 20px 35px;
	}

	.menu-category-header{
		font-size: 30px;
		padding: 35px;
	}

	.menu-category-header::after{
		width: 50px;
		height: 50px;
	}

	.menu-category-header.hot-drinks::after{
		width: 60px;
		height: 60px;
	}

	.menu-category-header.cold-drinks::after{
		width: 40px;
		height: 40px;
		right: 10px;
	}

	.menu-item{
		padding: 10px 35px;
	}

	.item-title{
		font-size: 27px;
	}

	.item-desc{
		font-size: 17.5px;
		line-height: 20px;
		margin-top: 12px;
	}

	footer{
		font-size: 18px;
		line-height: 25px;
		padding: 20px 0;
		margin-top: 90px;
	}
}

@media screen and (min-width: 980px) {
	.top-nav{
		align-items: center;
		padding: 8px 15px;
	}

	.nav-text{
		display: none;
	}

	.dropdown{
		background-color: #373c3f;
	}

	.dropdown .fas{
		display: none;
	}

	.drop-menu{
		display: flex;
		position: static;
		background-color: #373c3f;
		border: none;
		width: auto;
		font-family: "Lato", sans-serif;
		font-size: 15px;
	}

	.drop-item{
		padding: 10px 30px 10px 0;
		border: none;
		background-color: transparent;
		text-transform: uppercase;
		color: #ebebeb;
	}

	.logo{
		display: block;
		width: 110px;
		height: 80px;
	}

	header{
		font-size: 54px;
		padding: 65px 30px 245px;
	}

	.header-link{
		margin-top: 50px;
	}

	.header-link a{
		font-size: 34px;
	}

	.chevron{
		display: none;
	}

	.menu-links{
		display: flex;
	}

	.link-block{
		flex: 1;
		padding: 90px 0;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.link-block.pizza{ 
		background-image: url("../img/pizza-fon_1200.jpg");
	}

	.link-block.salad{ 
		background-image: url("../img/salads-fon_1200.jpg");
	}

	.link-block.dessert{ 
		background-image: url("../img/desserts-fon_1200.jpg");
	}

	.link{
		background-image: none !important;
	}
	
	.menu{
		margin-top: 60px;
	}

	.menu-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;
	}

	.menu h2{
		font-size: 34px;
	}

	.post-header{
		font-size: 22px;
	}
	
	.menu-logo{
		display: block;
	}

	.menu-content{
		display: flex;
	}

	.menu-section{
		margin-bottom: 10px;
	}

	.menu-section-header{
		font-size: 34px;
	}
	
	.menu-category-header{
		font-size: 26px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.menu-category-header::after{
		width: 45px;
		height: 45px;
	}

	.menu-category-header.hot-drinks::after{
		width: 60px;
		height: 60px;
	}

	.menu-category-header.cold-drinks::after{
		width: 40px;
		height: 40px;
		right: 10px;
	}

	.menu-item{
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.item-title{
		font-size: 24px;
	}

	.item-desc{
		font-size: 16px;
	}

	footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 15px;
		margin-top: 0px;
	}

	.footer-text{
		display: flex;
	}
}

@media screen and (min-width: 1200px) {
	header{
		font-size: 62px;
		padding: 50px 40px 355px;
	}

	.header-link a{
		font-size: 38px;
	}

	.link-block{
		font-size: 43px;
		padding: 120px 0;
	}

	.menu h2,
	.menu-section-header{
		font-size: 40px;
	}

	.post-header{
		font-size: 20px;
	}

	.menu-category-header{
		font-size: 30px;
	}
		
	.item-title{
		font-size: 27px;
	}

	.item-desc{
		font-size: 17.5px;
	}

}