.table{
	border-collapse: collapse;
}

.cell{
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

.inverted .cell{
	background-color: black;
	border-color: white;
}

.checked{
	background-color: black;
}

.inverted .checked{
	background-color: white;
}